{#!
# Gestión de Incidencias v1.0
# Copyright 2019 Imanol Luis
# Licensed under MIT (https://github.com/ImanolLuis/GestionIncidencias/blob/master/LICENSE)
#}

{# Pie de página #}
<footer class="container">
    <p class="my-3 p-3 bg-white shadow-lg">
        <i class="fas fa-copyright"></i> 2019 INDUSTECH, S.L.
    </p>
</footer>